[Desktop Entry]
Name=JustGotEasy
Comment=JustGotEasy Lazy scripy alt 
Encoding=UTF-8
Exec=sh -c "JustGotEasy;${SHELL:-bash}"
Icon=JustGotEasy.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-iTool;
X-Kali-Package=JustGotEasy
Name[C]=JustGotEasy
